In [20]:
import numpy as np
import pandas as pd

# match/16/22.json
# 
with open("./data/events/18236.json") as datafile:
    data = json.load(datafile)
dataframe = pd.DataFrame(data)

In [21]:
# カラム省略表記されてしまうので
pd.set_option('display.max_columns', 100)

In [19]:
dataframe

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,team,duration,tactics,related_events,player,position,location,pass,carry,ball_receipt,under_pressure,duel,counterpress,dribble,interception,shot,goalkeeper,off_camera,clearance,ball_recovery,foul_won,block,foul_committed,substitution,bad_behaviour
0,8eb54fd1-3b77-4de8-a6eb-63cb080010e7,1,1,00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,"{'formation': 41221, 'lineup': [{'player': {'i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,dc677ade-3585-44c9-a377-c795a65c6310,2,1,00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 39, 'name': 'Manchester United'}",0.000000,"{'formation': 4222, 'lineup': [{'player': {'id...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,de4c3384-3748-46b1-b6f0-6d7fd5ed41ab,3,1,00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 39, 'name': 'Manchester United'}",0.000000,NaN,[206bb9ff-6848-4c98-8b81-797aaf24192b],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,206bb9ff-6848-4c98-8b81-797aaf24192b,4,1,00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,NaN,[de4c3384-3748-46b1-b6f0-6d7fd5ed41ab],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a10ce602-229f-4c8a-8c61-95f8e7438a4a,5,1,00:00:01.213,0,1,"{'id': 30, 'name': 'Pass'}",2,"{'id': 39, 'name': 'Manchester United'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 39, 'name': 'Manchester United'}",0.580900,NaN,[ee82dbf9-b9f5-4eea-84f1-e243d1e97f51],"{'id': 3058, 'name': 'Javier Hernández Balcázar'}","{'id': 24, 'name': 'Left Center Forward'}","[61.0, 41.0]","{'recipient': {'id': 3538, 'name': 'Wayne Mark...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4321,5aa430c2-2d96-472b-8e5e-abaf0127184a,4322,2,00:47:56.622,92,56,"{'id': 42, 'name': 'Ball Receipt*'}",195,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 39, 'name': 'Manchester United'}",NaN,NaN,[a690ea94-d105-4ea8-8e7b-9bd3fb3730f6],"{'id': 15036, 'name': 'Edwin van der Sar'}","{'id': 1, 'name': 'Goalkeeper'}","[2.0, 24.0]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4322,073d145a-d793-40b1-8be9-587c84e16a28,4323,2,00:47:56.622,92,56,"{'id': 43, 'name': 'Carry'}",195,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 39, 'name': 'Manchester United'}",5.220500,NaN,"[5aa430c2-2d96-472b-8e5e-abaf0127184a, 9d814a5...","{'id': 15036, 'name': 'Edwin van der Sar'}","{'id': 1, 'name': 'Goalkeeper'}","[2.0, 24.0]",NaN,"{'end_location': [14.0, 29.0]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4323,9d814a56-cafc-49ac-b375-6e089236e065,4324,2,00:48:01.843,93,1,"{'id': 30, 'name': 'Pass'}",195,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 39, 'name': 'Manchester United'}",2.325477,NaN,NaN,"{'id': 15036, 'name': 'Edwin van der Sar'}","{'id': 1, 'name': 'Goalkeeper'}","[14.0, 29.0]","{'length': 53.235325, 'angle': 0.09406123, 'he...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4324,c4f738ea-1af5-4694-9264-40e35ac7972c,4325,2,00:48:04.347,93,4,"{'id': 34, 'name': 'Half End'}",195,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 39, 'name': 'Manchester United'}",0.000000,NaN,[f1c9fc85-e2ce-4fbc-947b-9b5d26cd7821],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4325,f1c9fc85-e2ce-4fbc-947b-9b5d26cd7821,4326,2,00:48:04.347,93,4,"{'id': 34, 'name': 'Half End'}",195,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,NaN,[c4f738ea-1af5-4694-9264-40e35ac7972c],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# nested な json を normalize してみる
normalized = pd.json_normalize(data)
# listの改行出力ってもっといい方法ない？？？
print(*normalized.columns.values, sep='\n')

id
index
period
timestamp
minute
second
possession
duration
type.id
type.name
possession_team.id
possession_team.name
play_pattern.id
play_pattern.name
team.id
team.name
tactics.formation
tactics.lineup
related_events
location
player.id
player.name
position.id
position.name
pass.recipient.id
pass.recipient.name
pass.length
pass.angle
pass.height.id
pass.height.name
pass.end_location
pass.type.id
pass.type.name
pass.body_part.id
pass.body_part.name
carry.end_location
pass.backheel
pass.outcome.id
pass.outcome.name
ball_receipt.outcome.id
ball_receipt.outcome.name
under_pressure
duel.outcome.id
duel.outcome.name
duel.type.id
duel.type.name
counterpress
dribble.overrun
dribble.outcome.id
dribble.outcome.name
pass.cross
pass.switch
pass.aerial_won
interception.outcome.id
interception.outcome.name
pass.assisted_shot_id
pass.shot_assist
shot.statsbomb_xg
shot.end_location
shot.key_pass_id
shot.technique.id
shot.technique.name
shot.outcome.id
shot.outcome.name
shot.type.id
shot.type.name
shot.body_part.id
shot.body_part.name
shot.freeze_frame
goalkeeper.end_location
goalkeeper.type.id
goalkeeper.type.name
goalkeeper.position.id
goalkeeper.position.name
off_camera
goalkeeper.outcome.id
goalkeeper.outcome.name
shot.first_time
goalkeeper.technique.id
goalkeeper.technique.name
clearance.aerial_won
ball_recovery.offensive
ball_recovery.recovery_failure
goalkeeper.body_part.id
goalkeeper.body_part.name
pass.goal_assist
foul_won.defensive
block.save_block
foul_committed.card.id
foul_committed.card.name
substitution.outcome.id
substitution.outcome.name
substitution.replacement.id
substitution.replacement.name
foul_committed.type.id
foul_committed.type.name
bad_behaviour.card.id
bad_behaviour.card.name
foul_committed.advantage
foul_won.advantage

In [4]:
dataframe['timestamp']

0       00:00:00.000
1       00:00:00.000
2       00:00:00.000
3       00:00:00.000
4       00:00:01.213
            ...
4321    00:47:56.622
4322    00:47:56.622
4323    00:48:01.843
4324    00:48:04.347
4325    00:48:04.347
Name: timestamp, Length: 4326, dtype: object

In [5]:
# パスだけで1/4以上を占める
# dataframe[dataframe['pass'].notnull()]

In [6]:
# それぞれのカラムでnanの数を求める
dataframe.notnull().sum()

id                 4326
index              4326
period             4326
timestamp          4326
minute             4326
second             4326
type               4326
possession         4326
possession_team    4326
play_pattern       4326
team               4326
duration           3158
tactics               8
related_events     4188
player             4308
position           4308
location           4304
pass               1222
carry              1085
ball_receipt        135
under_pressure      835
duel                 55
counterpress         97
dribble              44
interception         28
shot                 26
goalkeeper           29
off_camera           35
clearance             2
ball_recovery        10
foul_won              9
block                 2
foul_committed        4
substitution          5
bad_behaviour         1
dtype: int64

In [7]:
# typeごとに集計してみた
type_name_list = dataframe['type'].map(lambda x: x['name'])
type_name_list.value_counts()

# typeカラムでのpassと、passのカラムが同じ数なので、passカラムそのままみちゃった方が良さそう

Pass                 1222
Ball Receipt*        1168
Carry                1085
Pressure              389
Ball Recovery          83
Duel                   55
Dribble                44
Dribbled Past          34
Goal Keeper            29
Interception           28
Shot                   26
Block                  26
Dispossessed           25
Miscontrol             23
Foul Won               22
Foul Committed         22
Clearance              17
Tactical Shift          6
Substitution            5
Half End                4
Half Start              4
Shield                  3
Referee Ball-Drop       2
Starting XI             2
Offside                 1
Bad Behaviour           1
Name: type, dtype: int64

In [8]:
pass_list = dataframe['pass'][dataframe['pass'].notnull()]
# print(pass_list[4])
# print(pass_list[7])
# print(pass_list[9])
# print(pass_list[11])
print(pass_list)

4       {'recipient': {'id': 3538, 'name': 'Wayne Mark...
7       {'recipient': {'id': 20175, 'name': 'Ryan Gigg...
11      {'recipient': {'id': 3267, 'name': 'Luis Anton...
13      {'recipient': {'id': 5503, 'name': 'Lionel And...
15      {'recipient': {'id': 5203, 'name': 'Sergio Bus...
                              ...
4306    {'recipient': {'id': 4891, 'name': 'Ibrahim Af...
4309    {'recipient': {'id': 20125, 'name': 'Carles Pu...
4313    {'length': 19.0, 'angle': 0.0, 'height': {'id'...
4320    {'recipient': {'id': 15036, 'name': 'Edwin van...
4323    {'length': 53.235325, 'angle': 0.09406123, 'he...
Name: pass, Length: 1222, dtype: object

In [9]:
angles = pd.DataFrame(pass_list.map(lambda x: x['angle']))
angles

          pass
4     2.356194
7    -2.498092
11    0.915101
13    0.753151
15    1.681454
...        ...
4306  0.610726
4309  3.058451
4313  0.000000
4320  1.706324
4323  0.094061

[1222 rows x 1 columns]

In [10]:
angles.describe()

              pass
count  1222.000000
mean      0.071808
std       1.634351
min      -3.091634
25%      -1.249046
50%       0.000000
75%       1.390943
max       3.141593

In [11]:
pass_list[4]

{'recipient': {'id': 3538, 'name': 'Wayne Mark Rooney'},
 'length': 1.4142135,
 'angle': 2.3561945,
 'height': {'id': 1, 'name': 'Ground Pass'},
 'end_location': [60.0, 42.0],
 'type': {'id': 65, 'name': 'Kick Off'},
 'body_part': {'id': 40, 'name': 'Right Foot'}}

In [12]:
# パスの種別（キックオフ、コーナーキックなど）を出す
print(len(list(filter(lambda x: ('type' in x.keys()) == True, pass_list)))) # 200
print(pass_list.size) # 1222

# あれ、typeがあるのってあまりないのか...

200
1222

In [13]:
# データを目視した感じ、「普通のパス」にはtypeがない？？ということでtypeのデータ出してみる
pass_pd = pd.Series(list(filter(lambda x: ('type' in x.keys()) == True, pass_list)))
pass_type_list = pd.Series(pass_pd.map(lambda x: x['type']).map(lambda x: x['name']))
pass_type_list.value_counts()

Recovery        100
Throw-in         36
Free Kick        28
Goal Kick        18
Corner            6
Kick Off          6
Interception      6
dtype: int64

In [14]:
# ref: https://github.com/statsbomb/open-data/blob/master/doc/Open%20Data%20Events%20v4.0.0.pdf
# Interception is "one touch pass off an interception"
# Recovery is "one touch pass off a loose ball interception"